.side-bar
  .header
    %h3.header__name
      yukimi
    %ul.header__list
      %li.list
        =link_to '#' do
          %i{:class => "fa fa-pencil-square-o icon"}
      %li.list
        =link_to '#' do
          %i{:class => "fa fa-cog icon"}
  .groups
    .group

