.wrapper
  =render :partial => "side-bar"

  .chat
    .header
      .left-header
        .left-header__title
          %h2 sample
        %ul.left-header__members
          Members :
          %li.member seco
          %li.member neko
      .right-header
        =link_to 'Edit', '#', :class=> "right-header__button"
    .messages
      .message
        .upper-message
          .upper-message__user-name
            seo
          .upper-message__date
            2017-05-18 13:19.51 UTC
        .lower-message
          %p.lower-message__content
            初めまして
      .message
        .upper-message
          .upper-message__user-name
            seo
          .upper-message__date
            2017-05-18 13:20.00 UTC
        .lower-message
          %p.lower-message__content
            よろしくお願いします
    .form
      %form.new-message
        %input{:type => "hidden", :value => "seo"}
        %input{:class => "form__message", :placeholder => "type a message", :type => "text"}
        .form__mask
          %label.form__mask__image
            %i{:class => "fa fa-picture-o icon"}
        %input{:type => "submit", :value => "Send", :class => "form__submit"}







