$box-color: #38AEF0;
$message-color: #434A54;
$members-color: #999;
.chat {
  float: right;
  width: calc(100vw - 300px);
  .header {
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
        padding-bottom: 15px;
      }
      &__members {
        color: $members-color;
        font-size: 12px;
        list-style: none;
        display: flex;
        li {
          padding-left: 5px;
        }
      }
    }
    .right-header {
      float: right;
      margin-top: 28px;
      border: 1px solid $box-color;
      color: $box-color;
      height: 40px;
      padding: 0 20px;
      line-height: 40px;
      &__button {
      color: $box-color;
      text-decoration: none;
      }
    }
  }
  .messages {
    box-sizing: border-box;
    background-color: #FAFAFA;
    height: calc(100% - 100px - 90px);
    padding: 46px 40px 0;
      .message {
        margin-bottom: 40px;
          .upper-message__user-name {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: $message-color;
          }
          .upper-message__date {
            display: inline-block;
            font-size: 12px;
            color: $members-color;
          }
          .lower-message__content {
            font-size: 14px;
            color: $message-color;
          }
          .lower-message__image {
            width: 200px;
          }
      }
  }
  .form {
    background-color: #DDD;
    height: 90px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    &__message {
      border: none;
      height: 50px;
      float: left;
      padding: 0 10px;
      width: calc(100% - 130px);
      box-sizing: border-box;
    }
    &__mask {
      position: absolute;
      right: 170px;
      float: left;
      height: 50px;
      padding-right: 10px;
       .fa {
        font-size: 20px;
        line-height: 50px;
       }
       .hidden {
        display: none
       }
    }
    &__submit {
      float: left;
      background-color: $box-color;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
    }

  }
}
